<mat-card>
  <mat-card-header>
    <mat-card-title>Connexion</mat-card-title>
  </mat-card-header>
  <hr><br>
  <mat-card-content>
    <div class="login_form_div">
      <form class="login_form" #loginForm="ngForm">
        <div class="email_login_form">
          <mat-form-field appearance="fill">
            <mat-label>Entrez votre email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage('email')}}</mat-error>
          </mat-form-field>
        </div>

        <div class="password_login_form">
          <mat-form-field appearance="fill">
            <mat-label>Entrez votre mot de passe</mat-label>
            <input matInput [type]="hidePass ? 'password' : 'text'" [formControl]="pass" required>
            <button type='button' mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
              <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="pass.invalid">{{getErrorMessage('pass')}}</mat-error>
          </mat-form-field>
        </div>
        <button (click)="register()" mat-raised-button color="warn" type='submit' [disabled]="!email.valid">S'inscrire</button>
        <div style="width:20px; height:auto; display:inline-block;"></div>
        <button (click)="login()" mat-raised-button color="accent" type='submit' [disabled]="!email.valid">Se connecter</button>
      </form>
      <div *ngIf="showIncorrectIdMessage" role="alert" class="alert alert-danger">
        Identifiants incorrects
      </div>
    </div>
  </mat-card-content>
</mat-card>
